<!DOCTYPE html>
<html>
<head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {% if title %}
    <title>ATT-{{title}}</title>
  {% else %}
    <title>Adtran Turk</title>
  {% endif %}
</head>

<body>
  {% block container %}
  <div class="container">
    <h2>Adtran Turk Tasks</h2>
    <div class="card-deck">
      <div class="card bg-secondary">
        <div class="card-body text-center">
          <p class="card-text">Total number of open issues in pending</p>
          <a href="http://www.jira.adtran.com/" target= "_blank" class="btn btn-sm btn-light" role="button">1000</a>
        </div>
      </div>
      <div class="card bg-secondary">
        <div class="card-body text-center">
          <p class="card-text" >Total number of ATTs in pending</p>
          <a href="http://www.jira.adtran.com/" target= "_blank" class="btn btn-sm btn-light" role="button">100</a>
        </div>
      </div>
      <div class="card bg-secondary">
        <div class="card-body text-center">
          <p class="card-text">Total number of ATTs in progress</p>
          <a href="http://www.jira.adtran.com/" target= "_blank" class="btn btn-sm btn-light" role="button">10</a>
        </div>
      </div>
      <div class="card bg-secondary">
        <div class="card-body text-center">
          <img class="card-img-top" src="helping-hands.jpg" alt="Card image cap">
          <a href="{{ url_for('about') }}" target= "_blank" class="btn btn-sm btn-light" role="button">cick here for more info</a>
        </div>
      </div>
    </div>

      <h4>ATT table</h4>
      <table style="margin-top:10px;" class="table table- table-striped table-bordered">
        {% if tasks_list %}
        <tr style="background-color: #808000">
          {% for column in tasks_list[0] %}
            {% if column != 'Task_Id' %}
              <th>{{ column }}</th>
            {% else %}
              <th>Actions</th>
            {% endif %}
          {% endfor %}
        </tr>
        {% endif %}

        {% for dict_item in tasks_list %}
        <tr>
           {% for key, value in dict_item.items() %}
            {% if key != 'Task_Id' %}
              <td> {{ value }} </td>
            {% else %}
              <td>
                <a style="display: inline;" href="http://www.jira.adtran.com/{{ value }}" target= "_blank" class="btn btn-link btn-sm" role="button">View&Accept</a>
              </td>
            {% endif %}
           {% endfor %}
        </tr>
        {% endfor %}
       </table>
    </div>
  </div>
  {% endblock %}

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>